* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  max-width: 100%;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  background-color: hsla(71, 58%, 85%, 0.557);
}
h1 {
  font-size: 1.7rem;
  margin-top: 2rem;
}
h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
}
hr {
  width: 60%;
  margin: 0.5rem auto;
}

/* NAV */
nav {
  display: inline-flex;
  min-width: 100%;
  justify-content: space-between;
  background-color: rgb(34, 33, 33);
}
nav ul {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  margin-left: auto;
  align-items: center;
  color: aliceblue;
  font-size: 1rem;
  padding: 1rem;
}

li:hover {
  color: #25a18e;
  cursor: pointer;
}
/* HERO */
#hero {
  display: grid;
  grid-template: repeat(5, 1fr) / repeat(6, 1fr);
  margin: auto;
  position: relative;
  overflow-x: hidden;
}
#hero img {
  z-index: -1;
  grid-area: 1 / 1 / 7 / 5;
}
#hero h1 {
  grid-area: 1 / 1 / 2 / 7;
  letter-spacing: 2px;
  text-shadow: #00a5cf;
  text-shadow: 2px 1px 7px #25a18e;
  text-align: center;
}

#hero p {
  grid-area: 2 / 1 / 2 / 5;
  opacity: 0.9;
  font-style: italic;
  line-height: 1.5rem;
  letter-spacing: 1px;
  margin-right: 1rem;
}

#hero .cta {
  grid-area: 5 / 1 / 7 / 7;
}

.cta {
  background-color: #25a18e;

  border-radius: 20px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 2px solid rgb(34, 33, 33);
  cursor: pointer;
  max-height: 50%;
  margin: 1rem 2rem;
}

.cta:hover {
  background-color: #00a5cf;
  text-decoration: underline;
}
.cta2 {
  background-color: #00a5cf;
  padding: 0.7rem;
  border-radius: 20px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.5rem;
  border: 2px solid rgb(34, 33, 33);
  cursor: pointer;
}
.cta2:hover {
  background-color: #25a18e;
  width: 55%;
  text-decoration: underline;
}

/* ABOUT US */
#about-us {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 2rem auto;
  height: 100vh;
}
#about-us img {
  height: 60%;
}
#about-us p {
  padding: 2rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  height: 30%;
}

/* CARD SECTION */

#card-qualities {
  max-width: 98%;
  display: grid;
  margin: 0 auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  box-shadow: 3px 3px 19px 2px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  padding: 0.7rem;
  text-align: center;
  min-height: 200px;
  background-color: white;
}
.card img {
  height: 30%;
  width: 30%;
}

footer {
  height: 3rem;
  background-color: rgb(73, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CONTACT SECTION */
#contact {
  height: 60vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.location {
  border: 1px solid black;
  height: 60%;
}
