* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 16px;
  max-width: 100%;
}
h1 {
  font-size: 1.7rem;
  margin-top: 2rem;
}
h2 {
  font-size: 1.5rem;

  margin-bottom: 1rem;
}
hr {
  width: 60%;
  margin: 0.5rem auto;
}

/* NAV */
nav {
  display: inline-flex;
  min-width: 100%;
  justify-content: space-between;
  background-color: rgb(34, 33, 33);
}
nav ul {
  list-style: none;
  display: inline-flex;
  gap: 1rem;
  margin-left: auto;
  align-items: center;
  color: aliceblue;
  font-size: 1.2rem;
  padding: 1rem;
}
/* HERO */
#hero {
  height: 95vh;
  position: relative;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#hero img {
  max-width: 80%;
  position: absolute;
  right: -60px;
  top: 4rem;
  z-index: -1;
}

.flex2 {
  display: flex;
  flex-direction: column;
  height: 40%;
  max-width: 95%;
  justify-content: space-evenly;
  margin: 0 auto;
  text-align: center;
}
.buttons {
  display: inline-flex;
}

.cta {
  background-color: aqua;
  padding: 1rem;
  width: 60%;
  margin: 0 auto;

  border-radius: 50px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 1.2rem;
}
.cta2 {
  background-color: aqua;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;

  border-radius: 50px;
  color: aliceblue;
  font-weight: bolder;
  font-size: 1rem;
}
.continue-button {
  padding: 1rem;
  max-width: 20%;
  margin: 1rem auto;
}

/* ABOUT US */
#about-us {
  margin: 2rem auto;
  max-width: 100%;
  background-color: rgba(77, 76, 76, 0.4);
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#about-us img {
  width: 100%;
  height: 70%;
}
#about-us p {
  padding: 1rem;
}

/* CARD SECTION */

#card-qualities {
  max-width: 98%;
  display: grid;
  margin: 2rem auto;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 1fr);
}
.card {
  box-shadow: 3px 3px 19px 2px rgba(0, 0, 0, 0.56);
  border-radius: 10px;
  padding: 0.7rem;
  text-align: center;
  min-height: 200px;
}
.card img {
  height: 30%;
  width: 30%;
}

footer {
  height: 3rem;
  background-color: rgb(73, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

/* CONTACT SECTION */
#contact {
  height: 60vh;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
}
.location {
  border: 1px solid black;
  height: 60%;
}
